{% extends 'base.html.twig' %}

{% block title %}Episode index{% endblock %}

{% block body %}
    <h1>{{ 'Répertoire des épisodes'|trans }}</h1>

<section class="container">
    <table class="table">
        <thead>
            <tr class="text-center">
                <th>Id</th>
                <th>{{ 'Titre'|trans }}</th>
                <th>{{ 'Numéro'|trans }}</th>
                <th>{{'Série'|trans }}</th>
                <th>Synopsis</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for episode in episodes %}
            <tr>
                <td>{{ episode.id }}</td>
                <td>{{ episode.title }}</td>
                <td>{{ episode.number }}</td>
                <td class="text-primary">{{ episode.season.program.title }}</td>
                <td>{{ episode.synopsis }}</td>
                <td>
                    <a href="{{ path('episode_show', {slug: episode.slug}) }}">{{ 'Voir plus'|trans }}</a>
                    <a href="{{ path('episode_edit', {slug: episode.slug}) }}">{{ 'Modifier' }}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">{{ 'Aucun episode trouvée'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</section>

<div class="container-fluid">
    <a href="{{ path('episode_new') }}">{{ 'Créer un nouvelle épisode'|trans }}</a>
</div>
{% endblock %}
