{% extends 'base.html.twig' %}

{% block title %}Edit Season{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1>{{ 'Modifier une saison'|trans }}</h1>

        <div class="my-2">
            {{ include('season/_form_comment.html.twig', {'button_label': 'Update'}) }}
        </div>

        <div class="my-2">
            {{ include('season/_delete_form.html.twig') }}
        </div>

        <a href="{{ path('season_index') }}">{{ 'Retour'|trans }}</a>
    </div>
{% endblock %}
