{% extends 'base.html.twig' %}

{% block title %}Season index{% endblock %}

{% block body %}
    <h1>{{ 'Répertoire des saison'|trans }}</h1>
<section class="container">
    <table class="table">
        <thead>
            <tr class="text-center">
                <th>Id</th>
                <th>{{ 'Nombre'|trans }}</th>
                <th>{{ 'Année'|trans }}</th>
                <th>{{'Série'|trans }}</th>
                <th>{{ 'Description'|trans }}</th>
                <th>{{ 'Actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for season in seasons %}
            <tr>
                <td>{{ season.id }}</td>
                <td>{{ season.number }}</td>
                <td>{{ season.year }}</td>
                <td class="text-primary">{{ season.program.title }}</td>
                <td>{{ season.description }}</td>
                <td>
                    <a href="{{ path('season_show', {'id': season.id}) }}">{{ 'Voir'|trans }}</a>
                    <a href="{{ path('season_edit', {'id': season.id}) }}">{{ 'Modifier'|trans }}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">{{ 'Aucune saison trouvée'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</section>

<div class="container-fluid">
    <a href="{{ path('season_new') }}">{{ 'Créer'|trans }}</a>
</div>
{% endblock %}
