{%  extends 'base.html.twig' %}
{% block title %}{{ program.title }} | Saison {{ season.number }}{% endblock %}

{% block body%}
<section class="container">
    <h1>{{ program.title }} - Saison {{ season.number }}</h1>
    <p class="text-light"><strong>Description de la saison :</strong></p>
    <p class="text-light">{{ season.description }}</p>

    <div class="row">
        {%  for episode in episodes %}
        <div class="col mb-3">
            <div class="card">
                <div class="card-body">
                    <p class="card-title"><strong>Episode {{ episode.number }}</p>
                    <h2><strong>" {{ episode.title }} "</strong></h2>
                    <p class="card-text">{{ episode.synopsis }}</p>
                    <a href="{{ path('program_episode_show',{ program : program.id, season : season.id, episode : episode.id }) }}" class="btn btn-primary">Decouvrir</a>
                </div>
            </div>
        </div>
        {% else %}
            Aucun épisode, va au lit !
        {% endfor %}
    </div>

</section>


    <a class="back" href="{{ path('program_show', {slug: program.slug}) }}">
        Retour aux épisodes
    </a>
{% endblock %}
