{% extends 'base.html.twig' %}
{% block title %}Série | {{ program.title }}{% endblock %}

{% block body %}
<section class="container">
    <div class="media">
        <div class="d-lg-flex text-xs-center">
            <div>
            <img class="img-series-show" src="{{program.poster}}" alt="{{ program.title }} poster">
            </div>
            <div>
                <h2 class="display-4"><strong>{{ program.title }}</strong></h2>
                <div class="d-flex align-items-center">
                   <p class="label-category">Catégorie :</p><h3>{{ program.category.name }}</h3>
                </div>
                <p>{{ program.summary }}</p>
                <div class="d-inline-flex flex-wrap">
                    {% for season in seasons %}
                        <div class="list-seasons mr-1 mb-4 d-flex flex-column align-items-center">
                            <p class="mb-0">Saison {{ season.number }}</p>
                            <a href="{{ path('program_season_show',{ program : program.id, season : season.id }) }}"
                               class="btn btn-primary">Découvrir</a>
                        </div>
                    {% else %}
                        Aucune saison n'est disponible fraté !
                    {% endfor %}
                </div>
                <div class="d-flex flex-column">
                    <p class="mb-0">Acteurs :</p>
                        {% for actor in program.actors %}
                            <a href="{{ path('actor_show', {actor : actor.id}) }}">- {{ actor.name }}</a>
                        {% else %}
                    <p>Aucun acteur pour cette série</p>
                        {% endfor %}
                </div>
            </div>

        </div>
    </div>
    <br>
</section>

<a class="back" href="{{ path('program_index') }}">
    Retour à la liste des programmes
</a>
{% endblock %}